.container{
	max-width:100%;
	margin:0% 15% 0% 15%;
}
.head-bg{
	 background-image: linear-gradient(to right, rgb(0 227 255 / 20%), rgb(233 4 234 / 12%));

}
.nav{
	padding-top:15px;
}
.flex-nav{
	display:flex;
	justify-content:space-between;
}
.logo{
	width: 45px;
    height: 45px;
    display: flex;
}
.logo img{
	
	width:100%;
}
.nav-list{
	display: flex;
    align-items: center;
}
.nav-list ul{
	display:flex;
}
.nav-list ul li{
	margin-right:2px;
	padding:10px;
	font-size:11px;
	font-family: "Raleway", sans-serif;
	font-weight:600;
	letter-spacing: 1px
	
}
.nav-list ul li:nth-child(1){
	color:#006deb;
}
.flex-nav Button{
	background-color:#006deb;
	border:none;
	margin: 8px;
    display: inline-block;
    font-size: 10px;
	padding:5px 20px 5px 20px;
	border-radius: 16px;
	color:white;
}
.ban-img{
	display:flex;
	justify-content:center;
    width:100%;
	position:relative;
	z-index:1;
}
.ban-img img{
    width:50%;
}

.banner:after{
   content: "";
   position: absolute;
   left: 230px;
   top: 65px;
   width: 500px;
   height: 500px;
   background-color:white;
   border-radius:350px;
}
.banner{
	position:relative;
}
.ban-cont{
	position:absolute;
	width:100%;
	top:240px;
	left:0;
	z-index:1;
	align-items:center;
	
}
.ban-cont i img{
	width:20px;
	height:20px;
}
.ban-cont h3{
      font-family:"Raleway", sans-serif;
	  font-weight:600;
	  font-size:15px;
	  display:inline-block;
	  color:#464343;
	  
}
.ban-cont h1{
	font-family:"Poppins", sans-serif;
    font-size: 120px;
    font-weight: bold;
    line-height: 120px;
    color: #066ef0;
	margin-left: -25px;
}
.ban-cont h4{
	 font-family:"Raleway", sans-serif;
	 font-weight:600;
	 font-size:15px;
	 color: #464343;
	 border-right:solid 2px #066ef0;
	 margin-right: 845px;
	 padding:2px 0px;
}
.ban-box{
	position:absolute;
	width:230px;
	height:145px;
	top:440px;
	left:650px;
	z-index:1;
	align-items:center;
	background-color:#fffffff5;
	border-radius:15px;
}
.ban-ico{
	display:flex;
	justify-content:center;
	color: #066ef0;
	padding:25px 0px 15px 0px;	
}	
.ban-box p{
	display:flex;
	justify-content:center;
	text-align:center;
	font-family:"Raleway", sans-serif;
	font-size:13px;
	color:#464343;
    line-height: 1.5;
	font-weight:600;
	letter-spacing:0.5px;
	
}
.ban-box h5{
	font-family:"Open Sans", sans-serif;
	display:flex;
	justify-content:center;
	text-align:center;
	font-size:17px;
	color:#066ef0;
    line-height: 2;
	font-weight:700;
}

/* about section */

.about-head{
	margin-top:70px;
}
.about-head h2{
	display:flex;
	justify-content:center;
	font-size:40px;
	font-weight:700;
	font-family:"Raleway", sans-serif;
	padding-bottom:50px;
}
.flex-about{
	display:flex;
}
.about-img{
	width:50%;
}
.about-img img{
	width:100%;
}
.about-cont{
	width:50%;
	padding-top:70px;
	padding-left:40px;
}
.about-cont h6{
    font-size: 12px;
    font-family:  "Open Sans", sans-serif;
    letter-spacing: 2px;
    color: #0e7ee8;
	font-weight:600;
	line-height:20px;
	margin-bottom:5px;
}
.about-cont h3{
	font-size:30px;
	font-family:"Open Sans", sans-serif;
	margin-bottom:10px;
}
.about-cont h3 strong{
	font-weight:900;
}
.about-cont h4{
	font-size:14px;
    color:#80818d;
	font-family:"Open Sans", sans-serif;
	margin-bottom:10px;
	font-weight:600;
	letter-spacing: 0.5px;
	
}
.about-cont p{
	font-size:15px;
    color:#80818d;
	font-family:"Open Sans", sans-serif;
	margin-bottom:10px;
	line-height:1.5;
	display:inline-block;
	text-align:left;
}
.about-cont p span{
	display:block;
	margin:10px 0px 10px 0px;
}
.pers-info{
	display:flex;
}
	
	

    	